body {
    background-color: aquamarine;
    padding: 40px;
    margin: auto;
}

h1, h2, p {
    color: blueviolet;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: azure;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
li{
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
}
