body {
    background-color: rgb(43, 46, 45);
    padding: 40px;
    margin: auto;
    text-align: center;
}

h1, h2, p {
    color: blueviolet;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: azure;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}
li{
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
    text-align: center;
}
footer{
    background-color: brown;
    color: blue;
    text-align: center;
}
.home{
    background-color: black;
    color: chartreuse;
    font-display: fallback;
}
.information{
    background-color: cadetblue;
    width: 100%;

}
