*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
}
.navbar{
     width: 100%;
  padding: 26px 60px;
  display: flex;
  justify-content: space-between;
}
li{
    display: inline-block;
    padding: 28%;
    width: auto;
}
body{
    background-color: darkblue;
    display: flex;
    margin: auto;
    text-align: center;
}
#img{
    display: inline;
    width: 20% 30%;
    justify-content: space-between;

}
